---
import contacts from "~data/contacts.json";
import BaseLayout from "~layouts/BaseLayout.astro";

const title = "Contact the Novelty Cycles Team";
const description = "Get in touch with the Novelty Cycles team.";
---

<BaseLayout description={description} title={title}>
  <main>
    <h2>Reach out to the team…</h2>
    <ul>
      {
        contacts.map(({ email, name }) => (
          <li>
            <p class="name">{name}</p>
            <p>
              <a href={`mailto:${email}`}>{email}</a>
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: var(--spacing-6);
  }
  .name {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
  }
</style>
